.product-display {
  display: flex;
  width: 100%;
  margin: 0 auto;
  border: 2px solid red;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.individualProduct {
  width: 33%;
  text-align: center;
}

.individualProduct img {
  width: 300px;
  height: 300px;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .individualProduct {
    width: 50%;
  }
  .individualProduct img {
    width: 250px;
    height: 250px;
  }
}
